---
downloads: ~/Downloads/ansible-downloads/

configure_dotfiles: no
configure_sudoers: no
configure_terminal: no
configure_osx: yes

copy_osx_config_script: yes
osx_config_script_file: ".osx-system-setup"

dotfiles_repo: https://github.com/none
dotfiles_repo_accept_hostkey: yes
dotfiles_repo_local_destination: ~/dotfiles
dotfiles_files:
  - .bashrc
  - .gitconfig
  - .git-prompt.sh
  - .osx-system-setup
  - .profile
  - .vimrc

homebrew_installed_packages:
  - ansible
  - autoconf
  - bash-completion
  - coreutils
  - ddev
  - dos2unix
  - ffmpeg
  - flac
  - gcal
  - git
  - git-lfs
  - gpg
  - openssl
  - nmap
  - php
  - pwgen
  - pypy
  - python
  - rsync
  - ssh-copy-id
  - telnet
  - tmux
  - tree
  - wget
  - xz

homebrew_taps:
  - drud/ddev
  - homebrew/core
  - homebrew/cask

homebrew_cask_appdir: /Applications
homebrew_cask_apps:
  - 1password
  - 1password-cli
  - calibre
  - deluge
  - docker
  - evernote
  - firefox
  - google-chrome
  - private-internet-access
  - vagrant
  - visual-studio-code
  - vlc
  - xact

#mas_email: "jeff@sheltren.com"
#mas_password: !vault |

mas_installed_apps:
  - { id: 409907375, name: "Apple Remote Desktop" }
  - { id: 1003160018, name: "Quip" }
  - { id: 425955336, name: "Skitch" }
  - { id: 803453959, name: "Slack" }

osx_script: "~/.osx-system-setup --no-restart"

# Install packages from other package managers.
# Note: You are responsible for making sure the required package managers are
# installed, eg. through homebrew.
composer_packages: []
  # - name: drush
  #   state: present # present/absent, default: present
  #   version: "^8.1" # default: N/A
gem_packages: []
  # - name: bundler
  #   state: present # present/absent/latest, default: present
  #   version: "~> 1.15.1" # default: N/A
npm_packages: []
  # - name: webpack
  #   state: present # present/absent/latest, default: present
  #   version: "^2.6" # default: N/A
pip_packages: []
  # - name: mkdocs
  #   state: present # present/absent/latest, default: present
  #   version: "0.16.3" # default: N/A

# Glob pattern to ansible task files to run after all other tasks are finished.
post_provision_tasks: []
